// @import 
@import "_var.scss";
@import "_mixins.scss";






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.wrap {
    margin: 0 auto;
    width: 1140px;
}

.main {
    flex-grow: 1;
}

.hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    margin: -1px;
}

/* header */

.header {
    background-color: $grey;
    color: #fff;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

/* header-logo */

.header-logo-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

/* navigation */

.header-nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}


/* SVG */


.header-icon svg {
    fill: #fff;
}

.header-icon:hover svg {
    fill: $main-color;
}

.header-icon-span:hover svg {
    fill: $main-color;
}

.header-icon-span {
    position: relative;
    fill: #fff;
}

.cart-number {
    position: absolute;
    left: 23px;
    bottom: 20px;
    width: 19px;
    height: 19px;
    border-radius: 50px;
    color: #fff;
    background-color: $main-color;
}

.header-icon-span span {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* promo */

.promo {
    background-color: #F1E4E6;
}

.promo-wrap {
    height: 760px;
    background-image: url(../img/promo-bg.png);
    background-repeat: no-repeat;
    background-position: -225px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.promo-title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    border-left: 12px solid $main-color;
    padding-left: 16px;
    color: $grey;
}

.promo-title-bold {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
}

.promo-title-pink {
    color: $main-color;
}

/* offer */


.offer {
    background-color: #fff;
    padding: 103px 0;
}

.offer-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

.offer-item {
    width: 360px;
    height: 260px;
    background-color: $grey;
    @include flex-center();
    background-size: contain;
    background-repeat: no-repeat;
}

.offer-item:nth-child(1) {
    background-image: url("../img/category-men.jpg");
}

.offer-item:nth-child(2) {
    background-image: url("../img/category-women.jpg");
}

.offer-item:nth-child(3) {
    background-image: url("../img/category-kids.jpg");
}

.offer-item:last-child {
    width: 100%;
    height: 180px;
    background-image: url("../img/category-accesories.jpg");
}

.offer-name {
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
    width: 160px;
}

.offer-name::first-line {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

/* product */

.product {
    padding-top: 20px;
    background-color: #fff;
    text-align: center;
}

.product-title {
    font-size: 30px;
    line-height: 36px;
    color: $grey;
    padding-bottom: 6px;
}

.product-desc {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 50px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;

}

.product-item {
    width: 360px;
    height: 585px;
    background: #F8F8F8;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;

}

.product-item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

// .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 280px;
//     background-color: rgba(58, 56, 56, 0.83);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     opacity: 0;
//     transition: 0.5s;
// }

// .product-item:hover .overlay {
//     opacity: 1;
// }


.product-video {
    object-fit: cover;
    object-position: center;

}

.product-text-box {
    padding: 17px;
}

.product-name {
    padding-top: 23px;
    font-size: 13px;
    line-height: 16px;
    color: #000;
}

.product-text {
    padding-top: 12px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
}

.product-price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.product-button {
    background-color: #fff;
    border: 1px solid $main-color;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 40px 15px 40px;
    margin: 48px 0 95px 0;
    text-decoration: none;
    color: #F16D7F;
}

.fa-arrow-right {
    padding-left: 10px;
}

.product-button:hover {
    background-color: $main-color;
    color: #fff;
}


/* features */


.features {
    background-color: $grey;
    color: #fff;
    padding: 100px 0;
}

.features-wrap {
    display: flex;
    text-align: center;
}

.features-img-box {
    height: 40px;
    margin-bottom: 19px;
    text-align: center;
}

.features-name {
    padding-bottom: 16px;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.features-text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}

/* feedback */


.feedback {
    background-color: #fff;
    background-image: url("../img/footer.jpg");
    background-size: cover;
    padding: 100px 0;

}

.feedback-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



.subscribe-blockquote {
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    padding-top: 30px;
}

.subscribe-name {
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
}

.subscribe-text {
    font-size: 18px;
    line-height: 167.2%;
    color: #222224;
    padding-bottom: 32px;
}

.subscrime-form-field {
    padding: 16px;
    border-radius: 20px 0 0 20px;
    color: #222224;
    opacity: 0.67;
    font-size: 14px;
    line-height: 17px;
    border: none;
}

.subscribe-button {
    padding: 16px;
    border: none;
    background-color: #F16D7F;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}



/* footer */


.footer {
    background-color: #222224;
    padding: 30px 0;
}

.footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-cocopyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social-list {
    gap: 10px;
    list-style: none;
    display: flex;

}


.social-link {
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-link:hover {
    background-color: $main-color;
    color: #fff;
}

/* Inner */

.inner {
    background: #F8F3F4;
    height: 148px;
    padding: 60px 0;
}

.inner-wrap {
    display: flex;
    justify-content: space-between;
}

.inner-title {
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
}


// breadcrumbs


.inner-breadcrumbs {
    padding: 20px;
}

.inner-breadcrumbs-list {
    display: flex;
    list-style: none;
}

.inner-breadcrumbs-item {
    margin-right: 5px;
}


.breadcrumbs-link {
    color: #636363;
}

.breadcrumbs-link,
.breadcrumbs-link-pink {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    gap: 20px;
    text-transform: uppercase;
}

.breadcrumbs-link:hover {
    color: $main-color;
}

.breadcrumbs-link-pink {
    font-weight: bold;
    color: $main-color;
}

.inner-breadcrumbs-item::before {
    content: '/';
    margin-right: 3px;
}

.inner-breadcrumbs-item:first-child:before {
    display: none;
}

// Product-box

.product-box {
    display: flex;
    align-items: center;
    padding: 50px 0 60px 0;
    gap: 30px;

    &-filter {
        width: 360px;
        box-sizing: border-box;
        position: relative;
        outline: none;
        text-align: left;
        border: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    &-filter details {
        background-color: #fff;
    }

    &-filter summary {
        padding: 16px 0 16px 16px;


    }

    &-filter[open] {
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        text-align: left;


    }

    &-filter[open]>summary {
        color: $main-color;
        background-color: #fff;
        outline: none;
        border: none;
    }
}


.filter {

    &-content {
        position: absolute;
        background-color: #fff;
        width: 360px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &-title summary {
        color: $main-color;
        display: inline;
        position: relative;
        border-left: 5px solid $main-color;
        border-bottom: 1px solid #EBEBEB;
        margin: 10px 14px 10px 14px;
        padding-left: 10px;
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
    }

    &-title[open] {
        padding-bottom: 10px;
    }

    &-list {
        @include list();
    }

    &-item {
        padding: 11px 0 11px 28px;
    }

    &-link {
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        text-decoration: none;
    }
}



// Filter

.product-box-filter summary::-webkit-details-marker {
    display: none;
}

.product-box-filter summary {
    display: block;
}


//Sort

.product-box-sort summary::-webkit-details-marker {
    display: none;
}

.product-box-sort summary {
    display: block;
}




.product-box {
    &-sort {
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        box-sizing: border-box;
        position: relative;
        outline: none;
        border: none;
        padding: 15px;
    }

    &-sort[open]>summary {
        color: $main-color;
        background-color: #fff;
        outline: none;
        border: none;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &-title {
        padding: 17px;
        width: 156px;
    }

    &-list {
        @include list();
        position: absolute;
        width: 156px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        background-color: #fff;
        padding: 10px 0;
    }

    &-item {
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }



}


/* pagination */
.pagination {
    padding: 50px 0 95px 0;
    display: flex;
    justify-content: center;
}

.pagination-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 13px;
    gap: 15px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.pagination-link {
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background-color: #fff;
    color: #C4C4C4;
}

.pagination-item--separator {
    color: #C4C4C4;
    margin: 0 -13px 0 -13px;

}

.fa-chevron-right,
.fa-chevron-left {
    color: #000;
}

.pagination-link:hover {
    color: $main-color;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover {
    color: $main-color;
}

// Slider

.slider {
    display: flex;
    background-color: #F8F8F8;
    align-items: center;
    padding-bottom: 66px;

    &-btn {
        height: 47px;
        width: 47px;
        background-color: #EAEAEA;
        border: none;
    }

    &-btn:hover {
        fill: $main-color;
    }

    &-box {
        display: flex;
        justify-content: center;
    }
}

// About

// about-text-box

.about {
    margin-top: -66px;
    text-align: center;

    &-wrap {
        border: 1px solid #EAEAEA;
        padding: 65px 0;
        background: #fff;
    }

    &-text-box {
        text-align: center;
    }

    &-title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $main-color;
    }

    &-title-hr {
        margin-top: 20px;
        width: 63px;
        text-align: center;
        height: 3px;
        background-color: $main-color;
        border: none;
        display: inline-block;
    }

    &-descr {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        padding: 28px 0 49px 0;
    }

    &-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5E5E5E;
        padding-bottom: 33px;
    }

    &-price {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $main-color;
    }

    &-price-hr {
        height: 1px;
        border: none;
        background-color: #EAEAEA;
        width: 642px;
        display: inline-block;
        margin: 65px 0;
    }


    // about-sort-box

    &-sort-box {
        text-align: center;
        display: flex;
        margin-left: 27%;
    }

    &-shop-button {
        text-align: center;
        width: 212px;
        border: 1px solid $main-color;
        background-color: #fff;
        color: $main-color;
    }

    &-shop-button-link {
        @include flex-center();
        padding: 10px;
        text-decoration: none;
        color: $main-color;
        font-size: 16px;
        line-height: 19px;
    }

    &-shop-button-link:hover {
        color: #fff;
        background-color: $main-color;
    }

    &-shop-button-link:hover svg {
        fill: #fff;
    }

    &-shop-button-img {
        fill: $main-color;
        margin-right: 23px;
    }

}

// Product

.product-inner-padding {
    padding: 125px 0;
}