.product {
    padding-top: 30px;
    background-color: #fff;
    text-align: center;

    @media(max-width: $tablet-breakpoint) {
        padding-top: 134px;
    }

    @media(max-width: $mobile-breakpoint) {
        padding-top: 0;
    }
}

.product-title {
    font-size: 30px;
    line-height: 36px;
    color: $grey;
    padding-bottom: 6px;

    @media(max-width: $tablet-breakpoint) {
        padding-bottom: 3px;
    }
}

.product-desc {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding-bottom: 50px;

    @media(max-width: $tablet-breakpoint) {
        padding-bottom: 72px;
    }

    @media(max-width: $mobile-breakpoint) {
        padding-bottom: 64px;
    }
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;

    @media(max-width: $tablet-breakpoint) {
        gap: 16px;
    }

    @media(max-width: $mobile-breakpoint) {
        justify-content: center;
    }

}

.product-item {
    width: 360px;
    height: 585px;
    background: #F8F8F8;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;

}

.product-item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

//hover product


.product-overlay {
    position: absolute;
    background: rgba(58, 56, 56, 0.86);
    height: 420px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    // opacity: 0; // Видимость элемента
    transform: scaleY(0);
    transform-origin: left;
    transition: 0.3s;
}

.product-item:hover .product-overlay {
    // opacity: 1;
    transform: scaleY(1);
}

.btn-add {
    background: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid#fff;
}

.btn-add img {
    padding-right: 10px;
}

.product-video {
    object-fit: cover;
    object-position: center;

}

.product-text-box {
    padding: 17px;
}

.product-name {
    padding-top: 23px;
    font-size: 13px;
    line-height: 16px;
    color: #000;
}

.product-text {
    padding-top: 12px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
}

.product-price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.product-button {
    background-color: #fff;
    border: 1px solid $main-color;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 40px 15px 40px;
    margin: 48px 0 95px 0;
    text-decoration: none;
    color: #F16D7F;
    cursor: pointer;

    @media(max-width: $tablet-breakpoint) {
        margin: 32px 0 64px 0;
    }
}

.fa-arrow-right {
    padding-left: 10px;
}

.product-button:hover {
    background-color: $main-color;
    color: #fff;
    animation: bounce 0.5s infinite alternate;
}


//Animation


@keyframes bounce {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(-5px);

    }
}
